<%- include('partials/header') %>

<div class="jumbotron text-center">
  <h1 class="successfull">Welcome to you successful login</h1>

  <a href="/" class="btn btn-dark btn-lg" role="button">Log Out</a>
</div>

<%- include('partials/footer') %>
