body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.successfull {
  padding-top: 200px;
  text-align: center;
}
@media only screen and (max-width: 200px) {
  body {
    background-color: #e8ecef;
  }
}
